In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from requests.models import Response
import lxml
import numpy as np
import pandas as pd
import jaydebeapi
from pandasql import sqldf
import sqlite3
from pyArango.connection import *
from pyArango.query import *

In [ ]:
#connect to h2 database
dbConnection = jaydebeapi.connect(
    "org.h2.Driver",
    "jdbc:h2:C:\projects\mrt\data\lines",
    ["sa", ""],
    "C:/Java/h2-2022-01-17/h2/bin/h2-2.1.210.jar")

dbCursor=dbConnection.cursor()

In [ ]:
_sql=[
   "CREATE TABLE IF NOT EXISTS",
   "BR(ID VARCHAR, Station VARCHAR, Transport VARCHAR);",
]
sql=' '.join(_sql)
dbCursor.execute(sql)

In [ ]:
db.collections['BR'].truncate()
db.collections['BL'].truncate()
db.collections['G'].truncate()
db.collections['O'].truncate()
db.collections['Y'].truncate()
db.collections['R'].truncate()

In [ ]:
dbCursor.execute('TRUNCATE TABLE BR;')

In [ ]:
_sql=["INSERT INTO",
    "mrt(ID, Station, Transport)",
    "VALUES('%s', '%s', '%s');"
]
sql=' '.join(_sql)

In [ ]:
for i in range(df_mrt.shape[0]):
    row=df_mrt.iloc[i]
    insert_sql = sql%(row[0],row[1],row[2],)
    dbCursor.execute(insert_sql)

In [ ]:
def into_arango(line,collection):
    for i in range(line.shape[0]):
        row=line.iloc[i]
        doc = collection.createDocument()
        doc['_key']=row[0]
        doc['車站名稱']=row[1],
        doc['交會車站']=row[2],
        doc.save()

In [ ]:
into_arango(BR,db.collections['BR'])
into_arango(BL,db.collections['BL'])
into_arango(G,db.collections['G'])
into_arango(O,db.collections['O'])
into_arango(Y,db.collections['Y'])
into_arango(R,db.collections['R'])